.cartContainer{
    position: fixed;
    top: 20px;
    right: 4%;
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.4);
    z-index: 100;
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: var(--light);
    cursor: pointer;
}

.expanded {
  padding: 0 23px;
  cursor: auto;
  max-height: 90%;
  overflow: auto !important;
  /* border-radius: 0px !important; */
}


.cartContainer p{
  font-weight: bold;   
  color: var(--dark);
}

.containerWrite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: scale 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.containerWrite:hover {
  scale: 0.93;
}

.expanded .containerWrite{
  position: sticky;
  top: 20px;
  margin-top: 20px;
}


.expanded .containerWrite:hover {
  scale: none;
}

.textCart {
  display: flex;
  align-items: center;
}

.textCart p {
  text-transform: uppercase;
}

.containerLogging {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 23px;
}

.linkSign{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  margin-top: 8px;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 20px;
}

.linkSign:hover{
  scale: 0.95;
}

.writeLogged {
  font-size: 20px !important;
  margin-top: 20px;
  font-weight: normal !important;
  font-style: italic;
}

.buttonClose{
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.3);
}

.buttonClose:hover{
  color: var(--dark);
  background-color: var(--light); 
  scale: 0.95;
}


.emptyCart p {
  font-size: 18px;
  margin-top: 23px;
  padding-bottom: 23px;
}

.containerProduct {
  display: flex;
  margin: 30px 0;
  align-items: start;
}

.containerProduct img {
  margin-right: 20px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.containerProduct img:hover {
  scale: 0.95;
}


.descriptionsProducts {
  min-width: 200px;
}


.categoria {
  display: flex;
  padding-bottom: 15px;
}


.categoria p {
  font-weight: normal;
  text-transform: capitalize;
}

.categoria p:nth-child(1) {
  font-weight: 500;
}

.price p{
  padding-bottom: 15px;
  font-weight: bold;
}

.taglie p{
  font-weight: normal;
}

.quantita p {
  font-weight: 500;
}

.containerBottom {
  padding-top: 15px;
  position: sticky;
  bottom: 0;
  background-color: var(--light);
  padding-bottom: 20px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.shipping p {
  font-weight: normal;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.buttonCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--dark);
  color: var(--light);
  margin-top: 18px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.4);
}

.buttonCart:hover {
  scale: 0.97;
}

.eliminate {
  color: var(--dark);
  padding: 0 10px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.eliminate:hover {
  color: var(--error);
}


@media (min-width: 768px) and (max-width: 1280px) {
  .cartContainer{
    top: 70px;
    padding: 5px 10px;
}

.expanded {
  padding: 0 20px;
}

.containerLogging {
  margin-top: 0px;
  padding-bottom: 20px;
}

.linkSign{
  margin-top: 7px;
  margin-top: 20px;
  padding: 16px;
}

.writeLogged {
  font-size: 18px !important;
  margin-top: 18px;
}

.buttonClose{
  padding: 8px;
  border-radius: 8px;
}


.emptyCart p {
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.containerProduct {
  margin: 30px 0;
}

.containerProduct img {
  margin-right: 20px;
  width: 115px;
  height: auto;
}

.descriptionsProducts {
  min-width: 190px;
}

.categoria {
  padding-bottom: 13px;
}

.price p{
  padding-bottom: 13px;
}

.containerBottom {
  padding-top: 13px;
  padding-bottom: 18px;
}

.shipping {
  margin-bottom: 6px;
}

.buttonCart {
  padding: 5px 15px;
  margin-top: 18px;
  border-radius: 6px;
}


.eliminate {
  padding: 0 8px;
}

}


@media (max-width: 767px) {
  .cartContainer{
    top: 70px;
    padding: 4px 8px;
    max-width: 92%;
  }

  .expanded {
    padding: 0 18px;
  }

  .containerLogging {
    margin-top: 0px;
    padding-bottom: 18px;
  }

  .linkSign{
    margin-top: 4px;
    margin-top: 16px;
    padding: 12px;
  }

  .writeLogged {
    font-size: 16px !important;
    margin-top: 16px;
  }

  .buttonClose{
    padding: 6px;
    border-radius: 6px;
  }


  .emptyCart p {
    font-size: 14px;
    margin-top: 18px;
    padding-bottom: 18px;
  }

  .containerProduct {
    margin: 26px 0;
  }

  .containerProduct img {
    margin-right: 14px;
    width: 23vw;
    max-width: 105px;
    height: auto;
  }

  .descriptionsProducts {
    min-width: 52%;
  }

  .categoria {
    padding-bottom: 11px;
  }

  .price p{
    padding-bottom: 11px;
  }

  .containerBottom {
    padding-top: 11px;
    padding-bottom: 16px;
  }

  .shipping {
    margin-bottom: 5px;
  }

  .buttonCart { 
    padding: 4px 13px;
    margin-top: 16px;
    border-radius: 5px;
  }


  .eliminate {
    padding: 0 6px;
  }

}