.cartContainer{
    position: fixed;
    top: 20px;
    right: 4%;
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.4);
    z-index: 100;
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: var(--light);
    cursor: pointer;
}

.expanded {
  padding: 0 23px;
  cursor: auto;
  max-height: 90%;
  overflow: auto !important;
  /* border-radius: 0px !important; */
}


.cartContainer p{
  font-weight: bold;   
  color: var(--dark);
}

.containerWrite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: scale 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.containerWrite:hover {
  scale: 0.93;
}

.expanded .containerWrite{
  position: sticky;
  top: 20px;
  margin-top: 20px;
}


.expanded .containerWrite:hover {
  scale: none;
}

.textCart {
  display: flex;
  align-items: center;
}

.textCart p {
  text-transform: uppercase;
}

.containerLogging {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 23px;
}

.linkSign{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  margin-top: 8px;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 20px;
}

.linkSign:hover{
  scale: 0.95;
}

.writeLogged {
  font-size: 20px !important;
  margin-top: 20px;
  font-weight: normal !important;
  font-style: italic;
}

.buttonClose{
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.3);
}

.buttonClose:hover{
  color: var(--dark);
  background-color: var(--light); 
  scale: 0.95;
}


.emptyCart p {
  font-size: 18px;
  margin-top: 23px;
  padding-bottom: 23px;
}

.containerProduct {
  display: flex;
  margin: 30px 0;
  align-items: start;
}

.containerProduct img {
  margin-right: 20px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.containerProduct img:hover {
  scale: 0.95;
}


.descriptionsProducts {
  min-width: 200px;
}


.categoria {
  display: flex;
  padding-bottom: 15px;
}


.categoria p {
  font-weight: normal;
  text-transform: capitalize;
}

.categoria p:nth-child(1) {
  font-weight: 500;
}

.price p{
  padding-bottom: 15px;
  font-weight: bold;
}

.taglie p{
  font-weight: normal;
}

.quantita p {
  font-weight: 500;
}

.containerBottom {
  padding-top: 15px;
  position: sticky;
  bottom: 0;
  background-color: var(--light);
  padding-bottom: 20px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.shipping p {
  font-weight: normal;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.buttonCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--dark);
  color: var(--light);
  margin-top: 18px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  box-shadow: 0px 0px 16px 0px rgba(13, 13, 13, 0.4);
}

.buttonCart:hover {
  scale: 0.97;
}

.eliminate {
  color: var(--dark);
  border-radius: 10px;
  padding: 0 10px;
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.eliminate:hover {
  color: var(--error);
}