@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Buduj Sans';
    src: url('/fonts/BudujSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Buduj Sans';
    src: url('/fonts/BudujSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Buduj Sans';
    src: url('/fonts/BudujSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root{
    --light: #F2F2F2;
    --dark: #0D0D0D;
    --error: rgb(255, 69, 69);
}

body{
    margin: 0px;
    font-family: 'Buduj Sans';
    font-weight: normal;
    letter-spacing: 0.01px;
    color: var(--dark);
    background-color: var(--light);
    box-sizing: border-box;
}

p {
    text-align: justify;
    text-align-last: left;
    font-size: 16px;
    color: var(--dark);
}

h1 {
    font-size: 220px;
    letter-spacing: 0.01px;
    font-weight: 500;
    color: var(--dark);
    line-height: 220px;
    padding: 65px 0;
}

h1 img,  h2 img{
    display: inline;
    vertical-align: baseline;
}

h2 {
    font-size: 50px;
    letter-spacing: 0.01px;
    font-weight: 500;
    color: var(--dark);
    line-height: 50px;
    padding: 15px 0;
}


#divContainer > *{
    position:relative;
}

::-moz-selection { /* Code for Firefox */
    color: var(--light);
    background: var(--dark);
  }
  
  ::selection {
    color: var(--light);
    background: var(--dark);
  }



  ::-webkit-scrollbar{width: 11px;}  
  ::-webkit-scrollbar-track{background-color: #f7f7f7; border-radius: 30px !important;}      
   ::-webkit-scrollbar-thumb{background-color: var(--dark); border-radius: 30px !important;}
     ::-webkit-scrollbar-thumb:hover{border: 1px solid var(--light);}


/* SPLIDE */
.splide__pagination__page.is-active {
    background: var(--dark) !important;
}
.splide__arrow {
    background: none !important;
    transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0) !important;
}
.splide__arrow svg {
    fill: var(--dark);
}


@media (min-width: 768px) and (max-width: 1280px) {
  
    p {
        font-size: 15px;
    }
    
    h1 {
        font-size: 19vw;
        line-height: 17vw;
        padding: 7vw 0;
    }
    
    h1 img{
        width: auto;
        height: 3vw;
        margin: 0 -10px;
    }
    h2 img {
        width: auto;
        height: 2vw;
        margin: 0 0px;
    }


    h2 {
        font-size: 4.6vw;
        line-height: 4.6vw;
        padding: 2vw 0;
    }
  }


@media (max-width: 767px) {
  
    p {
        font-size: 14px;
    }
    
    h1 {
        font-size: 19vw;
        line-height: 17vw;
        padding: 7vw 0;
    }
    
    h1 img{
        width: auto;
        height: 3vw;
        margin: 0 -3px;
    }
    h2 img {
        width: auto;
        height: 2vw;
        margin: 0 0px;
    }


    h2 {
        font-size: 5vw;
        line-height: 5vw;
        padding: 2vw 0;
    }
    
}