
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.containerProductOut {
    width: 46%;
}

.containerProduct {
    display: flex;
    margin: 30px 0;
    align-items: start;
    justify-content: space-between;
    max-width: 90%;
  }
  
  .containerProduct img {
    transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .containerProduct img:hover {
    scale: 0.95;
  }
  
  
  .descriptionsProducts {
    min-width: 200px;
  }
  
  
  .categoria {
    display: flex;
    padding-bottom: 15px;
  }
  
  
  .categoria p {
    font-weight: normal;
    text-transform: capitalize;
  }
  
  .categoria p:nth-child(1) {
    font-weight: 500;
  }
  
  .price p{
    padding-bottom: 15px;
    font-weight: bold;
  }
  
  .taglie p{
    font-weight: normal;
  }
  
  .quantita p {
    font-weight: 500;
  }
  
  .containerBottom {
    padding: 30px;
    background-color: var(--light);
    padding-bottom: 20px;
    width: 40%;
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .shipping {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .shipping p {
    font-weight: normal;
  }
  
  .totalPrice {
    display: flex;
    justify-content: space-between;
  }
  
  .totalPrice p {
    font-size: 24px;
    font-weight: 500;
  }

  .buttons button:nth-child(1){
    transform: rotate(45deg);
  }
  
  .eliminate {
    color: var(--dark);
    padding: 0 10px;
    transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .eliminate:hover {
    color: var(--error);
  }

  .buttons button:nth-child(1):hover{
    color: green;
  }

  .emptyCart p {
    font-size: 18px;
    margin-top: 23px;
    padding-bottom: 23px;
  }


  @media (min-width: 768px) and (max-width: 1280px) {

    .containerProductOut {
      width: 66%;
    }

    .containerProduct {
      margin: 25px 0;
      max-width: 95%;
    }


    .descriptionsProducts {
      min-width: 160px;
    }


    .categoria {
      padding-bottom: 13px;
    }

    .price p{
      padding-bottom: 13px;
    }

    .containerBottom {
      padding: 26px;
      padding-bottom: 18px;
      width: 34%;
      border-radius: 13px;
    }

    .shipping {
      margin-bottom: 7px;
    }

    .shipping {
      font-size: 14px;
    }

    .totalPrice p {
      font-size: 18px;
    }

    .eliminate {
      color: var(--dark);
      padding: 0 6px;
    }

    .eliminate:hover {
      color: var(--error);
    }

    .emptyCart p {
      font-size: 17px;
      margin-top: 21px;
      padding-bottom: 21px;
    }

    .containerProduct img {
      width: 135px;
      height: auto;
    }

  }