.footerContainer {
    padding: 35px 0;
}

.containerTop {
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.containerClock {
    display: flex;
    font-size: 18px;
    flex-basis: 33.33%;
    justify-content: center;
}

.containerClock p {
    font-size: 18px;
}

.clock {
    color: var(--dark);
    font-family: 'Buduj Sans';
    font-weight: 500;
    margin: 0 7px;
    width: 76px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

  .containerTop img {
    animation: rotate 6s linear infinite;
  }

  .newsLetter{
    flex-basis: 33.33%;
  }
  .containerImg {
    flex-basis: 33.33%;
    display: flex;
    justify-content: end;
  }

  .newsLetter p {
    font-size: 18px;
    border-bottom: 1px solid var(--dark);
    width: fit-content;
  }

  .newsLetter p:hover {
    border-bottom: 1px dashed var(--dark);
  }


  .containerCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
  }

  .containerCenter p {
    font-size: 65px;
    line-height: 80px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }


  .wrap1 {
    position: relative !important;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%) !important;
    display: flex;
    justify-content: center;
  }

  .wrap2 {
    position: fixed !important;
    width: calc(100% - 8%) !important;
    bottom: 0 !important;
  }


  @media (min-width: 768px) and (max-width: 1280px) {
    .footerContainer {
      padding: 30px 0;
  }
  
  
  .containerClock {
      font-size: 14px;
  }
  
  .containerClock p {
      font-size: 14px;
  }
  
  .clock {
      margin: 0 7px;
      width: 64px;
  }
  
    .containerImg img{
      height: 60px;
      width: auto;
    }
  
    .newsLetter p {
      font-size: 14px;
    }

  
    .containerCenter {
      padding: 150px 0;
    }
  
    .containerCenter p {
      font-size: 5.4vw;
      line-height: 7.5vw;
    }
  }



  @media (max-width: 767px) {

    .containerTop {
      flex-direction: column;
  }

    .footerContainer {
      padding: 30px 0;
  }
  
  .containerClock {
      font-size: 14px;
      margin-top: 14px;
  }
  
  .containerClock p {
      font-size: 14px;
  }
  
  .clock {
      margin: 0 7px;
      width: 56px;
  }
  
    .containerImg img{
      height: 35px;
      width: auto;
      margin-top: 14px;
    }
  
    .newsLetter p {
      font-size: 14px;
    }

  
    .containerCenter {
      padding: 120px 0;
    }
  
    .containerCenter p {
      font-size: 5.4vw;
      line-height: 7.5vw;
    }
  
  }